body {
    background-color: rgb(172, 188, 188);
}

.bg-danger-subtle {
    background-color: rgb(208, 198, 195) !important;
}

.card-img-top {
    height: 220px;
    width: 200px;
    object-fit: cover;
}

.card {
    border: 2px;
    border-style: solid;
    border-color: rgb(138, 154, 138);
    background-color: rgb(172, 188, 188);
    align-items: center;
}

#footer-center {
    text-align: center;
}