img {
    max-width: 200px;
    filter: opacity(60%);
    filter: blur(1px)
}

.card-title {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
}