body {
    background-color: rgb(206, 234, 245);
}


nav a {
    color: white !important;
}

.card-img-top {
    height: 220px;
    width: 200px;
    object-fit: cover;
}

.card {
    border: 2px;
    border-style: solid;
    border-color: rgb(67, 140, 209);
    background-color: rgb(206, 234, 245);
    align-items: center;
}
