/* Position the button at the right and lower side of the image */
.image-container {
    width: 100px;
    /* Adjust the width of the image container */
}

.add-photo-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

#closeIcon {
    border: solid 1px;
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 20px;
    text-align: center;
}

#mypic-goes-here {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}